<nav>
  <mat-list>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="sidenav.close()">
      <span translate>Home</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/about" routerLinkActive="active" (click)="sidenav.close()">
      <span translate>About</span>
    </a>
    <mat-divider></mat-divider>
    <div mat-list-item class="item">
      <form *ngIf="showInput$ | async">
        <mat-form-field>
          <mat-label>Favorite food</mat-label>
          <mat-select [formControl]="foodCtrl" (selectionChange)="onOptionSelect($event)">
            <mat-option *ngFor="let food of foods" [value]="food">
              {{ food }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <mat-divider></mat-divider>
  </mat-list>
</nav>
