<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav
      #sidenav
      [mode]="'side'"
      [opened]="!isMobile"
      ngClass.gt-sm="has-border"
    >
      <mat-toolbar color="primary">
        <span translate>APP_NAME</span>
      </mat-toolbar>
      <nav>
        <mat-list>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="sidenav.close()">
            <span translate>Home</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/about" routerLinkActive="active" (click)="sidenav.close()">
            <span translate>About</span>
          </a>
          <mat-divider></mat-divider>
          <div mat-list-item class="item">
            <form *ngIf="showInput$ | async">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Favorite food" [matAutocomplete]="auto" [formControl]="foodCtrl">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelect($event)">
                  <mat-option *ngFor="let food of filteredFoods | async" [value]="food">
                    <span>{{food}}</span>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </div>
          <mat-divider></mat-divider>
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-side-nav-content [sidenav]="sidenav"></app-side-nav-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
