<div class="container">
  <mat-card>
    <p>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
    </p>
    <mat-card-content>
      <mat-card-title>Mon plat préféré</mat-card-title>
      <mat-card-subtitle>
        <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
        <q [hidden]="isLoading" *ngIf="favoriteFood$ | async as food">{{ food }}</q>
      </mat-card-subtitle>
      <mat-card-actions>
        <button
          mat-raised-button
          (click)="toggleInput()"
        >
          {{btnText}}
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
